{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <form action="{{path("app_login")}}" method="post">
        <h1 class="py-3">Connexion</h1>
        <input type="email" value="{{ last_username }}" placeholder="Email" name="email" class="form-control" required autofocus/>
        <input type="password" name="password" placeholder="Password" class="form-control" required/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe" value="1" >
            Keep me logged in
          </label>
        </div>
        <a href="{{ path('app_forgot_password_request') }}">Forgot password</a>
        <button type="submit" class="btn-primary btn">Connexion</button>
    </form>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>
{% endblock %}
