{% apply inky_to_html|inline_css(source('@styles/' ~ encore_entry_css_files('mail')|first)) %}

<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td align="center">
				{#header with logo#}
				<table class="contentMail">
					<tr class="header">
						<td
							bgcolor="#fff" align="center" valign="top" style="padding: 0px;">
							<!-- IMAGE -->
							<a href="{{url('home')}}"><img class="logo-header" src="{{ email.image('@images/img-test.png') }}" alt="test"/></a>
						</td>
					</tr>
					{% block content_all %}
						{# Content de l'email #}
                        

					{% endblock %}
					{# footer base #}
					<table class="footer">
						<tr>footer</tr>
					</table>
				</table>
			</td>
		</tr>
	</table>

</html>

{% endapply %}
